<div class="row">
    <div class="col">
        <img src="../../../assets/errorAuth4.jpg" alt="">
    </div>
    <div class="col">
        <div class="jumbotron bg-white">
            <h1 class="display-4">Permission Denied!</h1>
            <p class="lead">You are not able to access this site</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
          </div>
    </div>
</div>
